<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIT Patna Intern Portal</title>
</head>

<body>

<h3>Please respond to the following applications : </h3>

<form method="POST" action="/select/">
{% for item in applied %}

{{item}}

<input type="radio" name="{{ item }}" value="yes">Yes
<input type="radio" name="{{ item }}" value="no" >No<br><br>

{% endfor %}

<input type = "hidden" name = "profmail" value = "{{ profmail }}" />

<button type="submit">Submit</button>

</form>

</body>

</html>
